# custom error pages
#ErrorDocument 404 /error

# turn mod_rewrite on
RewriteEngine On

# remove .php extensions from files
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f
RewriteRule ^(.+?)/?$ /$1.php [L]
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ - [L]

# block access to .txt
<Files ~ "\.txt$">
    Order allow,deny
    Deny from all
</Files>

# allow access to robots.txt
<FilesMatch robots\.txt>
    Allow from all
</FilesMatch>

RewriteRule ^test\/([-\w]+)$ test.php?get=$1[NC,L]