{% extends "partials/base.twig" %}
{% set title = "Dashboard" %}

{% block content %}
<h2>Projects <button class="btn waves-effect waves-light blue accent-4" onClick="createProject()">Create</button></h2>
<div class="row">
    {% for project in projects %}
        {% include 'partials/project.twig' %}
    {% endfor %}
</div>

<script>

// TODO: open modal with project name
// post /project

</script>
{% endblock %}
