{% extends "partials/base.twig" %}
{% set title = "Dashboard" %}

{% block content %}
<h2>Apps</h2>
<div class="row">
    {% for app in apps %}
        {% include 'license/app.twig' %}
    {% endfor %}
</div>

<script>window.offer_code = "{{ offer_code }}";</script>
<script src="/assets/js/dashboard.js"></script>
{% endblock %}
