.secret {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.CodeMirror {
    float: left;
    width: 50%;
}

iframe {
    width: 49%;
    float: left;
    border: 1px solid black;
}

.hidden {
   visibility: hidden;
}
