<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title>Insert Title</title>

        <!-- Base for relative links - https://www.w3schools.com/tags/tag_base.asp -->
        <base href="BASE_HREF" />

        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Start editing your project</h1>

        <script src="index.js"></script>
    </body>
</html>
